body{
    background-color: aquamarine;
}

.main-container{
    position: relative;
    width: 800px;
    height: 800px;
    border: 2px dotted #010803;
    margin: 0 auto;
}

.box{
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: blanchedalmond;
    animation-name: run;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes run {
    0% {left:0; top: 0; border-radius: 0; background-color: blueviolet;}
    25% {left: 75%; top: 0; border-radius: 20%; background-color: violet}
    50% {left: 75%; top: 75%; border-radius: 50%; background-color: royalblue}
    75% {left: 0; top: 75%; border-radius: 0%; background-color: yellowgreen}
    100% {left: 0; top: 0; border-radius: 15%; background-color: gainsboro}
}